{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'deploy/css/public.css' %}">
    <link rel="stylesheet" href="{% static 'deploy/css/hostApp.css' %}">
    <script src="{% static 'deploy/js/public.js' %}"></script>
    <script src="{% static 'deploy/js/hostApp.js' %}"></script>
<div class="page_container">
    <div class="page_title">{{ hostName }}应用详情
        <div class="ButtonStyle addHostButton" style="text-align: center;" onclick="addModal('add','')">创建应用</div>
    </div>
    <div class="page_hr"></div>
{#    <span class="appContainer stopColor" id="app12">#}
{#        <div class="appTitleContainer">#}
{#            <span id="appName12">tomcat-app1</span>#}
{#            <span id="appTemplate12" style="display: none;">tomcat</span>#}
{#            <span class="glyphicon glyphicon-remove iconStyle" onclick="addModal('del',12)"></span>#}
{#            <span class="glyphicon glyphicon-pencil iconStyle" onclick="addModal('modify',12)"></span>#}
{#        </div>#}
{#        <div class="appContainerHr"></div>#}
{#        <div class="appContainerBody">#}
{#            <span class="appInfo" id="appPort12">端口: 1023</span>#}
{#            <div class="appContainerHr"></div>#}
{#            <span class="appInfo" id="appPath12">路径: /usr/local/app/nginx/</span>#}
{#            <div class="appContainerHr"></div>#}
{#            <span class="webAppName">pcService</span>#}
{#            <span class="webAppName">pharService</span>#}
{#        </div>#}
{#        <div class="appContainerHr"></div>#}
{#        <div class="appContainerFooter">#}
{#            <span class="appButton runColor">启动</span>#}
{#            <span class="appButton updateButton">部署</span>#}
{#        </div>#}
{#    </span>#}
</div>
{% endblock %}