{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'deploy/css/public.css' %}">
    <link rel="stylesheet" href="{% static 'deploy/css/index.css' %}">
    <script src="{% static 'deploy/js/public.js' %}"></script>
    <script src="{% static 'deploy/js/index.js' %}"></script>
    <div class="page_container">
        <div class="page_title">主机概览
            <div class="ButtonStyle addHostButton" data-toggle="modal" data-target="#addHost">创建主机</div>
        </div>
        <div class="page_hr"></div>
        <div class="searchBox">
            <form id='hostSearch' class="fromStyle">
                主机名 <input type="text" id="hostName" class="inputStyle textStyle marginRight">
                IP地址 <input type="text" id="ipAddr" class="inputStyle textStyle marginRight">
                salt绑定 <select class="inputStyle selectStyle marginRight" id="saltBind">
                            <option value="3">全部</option>
                            <option value="2">待绑定</option>
                            <option value="1">已绑定</option>
                            <option value="0">未绑定</option>
                         </select>
                salt状态 <select class="inputStyle selectStyle" id="saltStatus">
                            <option value="2">全部</option>
                            <option value="1">正常</option>
                            <option value="0">异常</option>
                        </select>
            </form>
            <div class="searchBoxHr"></div>
             <div class="buttonCont">
                <div class="SearchButton ButtonStyle" id="searchButton" onclick="searchSubmit()">搜索</div>
                 <div class="ResetButton ButtonStyle">重置</div>
             </div>
        </div>
        <div class="tableDiv">
            <table class="viewTable">
                <tr>
                    <th>主机Id</th>
                    <th>主机名</th>
                    <th>IP地址</th>
                    <th>salt是否绑定</th>
                    <th>salt状态</th>
                    <th>操作</th>
                </tr>
                {% for item in allHostInfo %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.hostName }}</td>
                    <td>{{ item.ip }}</td>
                    {% if item.isSaltStack == 0 %}
                        <td>未绑定</td>
                    {% elif item.isSaltStack == 1 %}
                        <td>已绑定</td>
                    {% else %}
                        <td>待绑定</td>
                    {% endif %}
                    {% if item.status %}
                        <td class="normalText"><span class="normalStatus"></span>正常</td>
                    {% else %}
                        <td class="errorText"><span class="errorStatus"></span>异常</td>
                    {% endif %}
                    <td>
                            <div class="hostModfiyButton updateButton" data-toggle="modal" data-target="#updateHost" onclick="showValue(this,'update')">修改</div>
                            <div class="hostModfiyButton delButton" data-toggle="modal" data-target="#delHost" onclick="showValue(this,'del')">删除</div>
                            <div class="hostModfiyButton deployButton" onclick="window.location.href='{% url 'deployHostApp' %}?hostId={{ item.id }}'">部署</div>
                            {% if item.isSaltStack == 2 %}
                                <div class="hostModfiyButton bindButton" data-toggle="modal" data-target="#delHost" onclick="showValue(this,'bindHost')">绑定</div>
                            {% elif item.isSaltStack == 1 %}
                                <div class="hostModfiyButton delBindButton" data-toggle="modal" data-target="#delHost" onclick="showValue(this,'unbound')">解绑</div>
                            {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% if 1 < pageDit.pageList|length %}
            <ul class="pagination  customPagination pagination-sm">
                {% if pageDit.lt %}
                <li><a href="javascript:void(0)" onclick="pageTurn({{ pageDit.pageId |add:-1 }})">&laquo;</a></li>
                {% endif %}
                {% for i in pageDit.pageList %}
                    {% if i == pageDit.pageId %}
                    <li class="active"><a href="javascript:void(0)" onclick="pageTurn({{ i }})">{{ i }}</a></li>
                    {% else %}
                    <li><a href="javascript:void(0)" onclick="pageTurn({{ i }})">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pageDit.nt %}
                <li><a href="javascript:void(0)" onclick="pageTurn({{ pageDit.pageId|add:1 }})">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <div class="depLoyFooter"></div>
    </div>
{#    添加主机模态框#}
    <div class="modal" id="addHost">
        <div class="modal_container">
            <div class="modal-content radius">
                <div class="modal_header">
                    添加主机
                    <span class="show_mesg" id="addHostSuccessTxt"></span>
                </div>
                <div class="page_hr"></div>
                <div class="modal_body">
                    主机名 <input id="addHostName" type="text" class="modalTextStyle" onblur="textAuth('hostname','#addHostName','#addHostSubmit','#addHostSuccessTxt')">
                    <br/><br/>
                    ip <input id="addIpAddr" type="text" class="modalTextStyle" onblur="textAuth('ip','#addIpAddr','#addHostSubmit','#addHostSuccessTxt')">
                </div>
                <div class="page_hr"></div>
                <div class="modal_footer">
                    <div class="ButtonStyle SearchButton" id='addHostSubmit'onclick="addHost()">添加</div>
                    <div class="ButtonStyle ResetButton" data-dismiss="modal">关闭</div>
                </div>
            </div>
        </div>

    </div>
{#    更新主机模态框 #}
    <div class="modal" id="updateHost">
        <div class="modal_container">
            <div class="modal-content radius">
                <div class="modal_header">
                    修改主机信息
                    <span id="updateHostSuccessTxt" class="show_mesg"></span>
                </div>
                <div class="page_hr"></div>
                <div class="modal_body">
                    id <input id="updateHostId" type="text" class="modalTextStyle readOnlyStyle" readonly="true">
                    <br/><br/>
                    主机名 <input id="updateHostName" type="text" class="modalTextStyle" onblur="textAuth('hostname','#updateHostName','#updateHostSubmit','#updateHostErrorTxt')">
                    <br/><br/>
                    ip <input id="updateIpAddr" type="text" class="modalTextStyle" onblur="textAuth('ip','#updateIpAddr','#updateHostSubmit','#updateHostErrorTxt')">
                </div>
                <div class="page_hr"></div>
                <div class="modal_footer">
                    <div class="ButtonStyle SearchButton" id='updateHostSubmit'onclick="updateHost()">更新</div>
                    <div class="ButtonStyle ResetButton" data-dismiss="modal">关闭</div>
                </div>
            </div>
        </div>
    </div>
{#    公共提示模态框 #}
    <div class="modal" id="delHost" class="show_mesg">
        <div class="modal_container">
            <div class="modal-content radius">
                <div class="modal_header">
                    <span id="modal_title"></span>
                    <span id="delHostSuccessTxt" class="show_mesg"></span>
                </div>
                <div class="page_hr"></div>
                <div class="modal_body">
                    <span id="delHostId" style="display: none;"></span>
                    <span id="delHostname" style="display: none;"></span>
                    <span id="delHostIp" style="display: none;"></span>
                    <span class="showInfo" id="delShowInfo"></span>
                </div>
                <div class="page_hr"></div>
                <div class="modal_footer">
                    <div class="ButtonStyle SearchButton" id='delHostSubmit' onclick="">确定</div>
                    <div class="ButtonStyle ResetButton" data-dismiss="modal">关闭</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}