{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'daterangepicker/css/daterangepicker.css' %}">
    <script src="{% static 'bootstrap/js/jquery-min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="{% static 'daterangepicker/js/moment.js' %}"></script>
    <script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'home/js/top_memu.js' %}"></script>
    <script src="{% static 'home/js/sidebar.js' %}"></script>
    <script src="{% static 'monitor/js/graphs.js' %}"></script>
    <title>主页</title>
</head>
<body>
{#主体容器#}
    <div class="container">
{#左边菜单#}
        <div class="left_memu" id="sidebar">
            <div class="left_top"></div>
{#bootstrap面板#}
            <div id="accordion">
{#面板一组#}
                <div class="panel pan_group" class="show">
{#面板父菜单，内部span依次为遮罩层，图标#}
                    <div class="link_title" data-toggle="collapse" data-parent="#accordion" href="#montior">
                        <span class="title_mask" id="mon_mask"></span><span class="glyphicon glyphicon-eye-open icon_style"> 监 控</span>
                    </div>
{#面板子菜单，div内部第一行为显示父菜单名，后面则为子菜单，结构和父菜单的相似#}
                    <div id="montior" class="panel-collapse collapse">
                        <span  class="show_title" onMouseOver="mask('over','mon_mask')" onmouseout="mask('out','mon_mask')"><span class="show_mask"></span>监 控</span>
                        {% if request.session.jurisdiction.is_show %}
                            <span class="link_cont" onclick="window.location.href='{% url 'MonitorIndex' %}'"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 主机一览</span></span>
                            <span class="link_cont" onclick="window.location.href='{% url 'LastData' %}'"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 最新数据</span></span>
                        {% endif %}
                        {% if request.session.jurisdiction.is_config %}
                            <span class="link_cont"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 配  置</span></span>
                        {% endif %}
                    </div>
                </div>
{#面板二组#}
                <div class="panel pan_group">
                    <div class="link_title" data-toggle="collapse" data-parent="#accordion" href="#log">
                        <span class="title_mask" id="log_mask"></span><span class="glyphicon glyphicon-book icon_style"> 日  志</span>
                    </div>
                    <div id="log" class="panel-collapse collapse">
                        <span  class="show_title" onMouseOver="mask('over','log_mask')" onmouseout="mask('out','log_mask')"><span class="show_mask"></span>日 志</span>
                        {% if request.session.jurisdiction.is_show %}
                            <span class="link_cont"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 日志查看</span></span>
                        {% endif %}
                        {% if request.session.jurisdiction.is_config %}
                            <span class="link_cont"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 配  置</span></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{#右边主体#}
        <div class="right_container">
{#头部#}
            <div class="top_memu" id="header">
                <div id="left_console" onMouseOver="memu_icon_style('over')" onmouseout="memu_icon_style('out')" onclick="sidebar_scla()">
                    <div id="memu_icon" ></div>
                </div>
            </div>
{#内容主体#}
            {% block content %}
                <div>默认内容</div>
            {% endblock %}
            <div  id="main"></div>
        </div>
    </div>
</body>
</html>