{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/sidebar.css' %}">
    <script src="{% static 'bootstrap/js/jquery-min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/top_memu.js' %}"></script>
    <title>主页</title>
</head>
<body>
    <div class="container">
        <div class="left_memu" id="sidebar">
            <div class="left_top"></div>
            <div id="accordion">
                <div class="panel pan_group">
                    <div class="link_title" data-toggle="collapse" data-parent="#accordion" href="#montior">
                        <span class="title_mask"></span><span class="glyphicon glyphicon-eye-open icon_style"> 监 控</span>
                    </div>
                    <div id="montior" class="panel-collapse collapse">
                        <span class="link_cont"><span class="title_mask"></span><span class="glyphicon glyphicon-star-empty icon_style"> 主机一览</span></span>
                        <span class="link_cont"><span class="glyphicon glyphicon-star-empty icon_style"> 配  置</span></span>
                    </div>
                </div>
                <div class="panel pan_group">
                    <div class="link_title" data-toggle="collapse" data-parent="#accordion" href="#log">
                        <span class="title_mask"></span><span class="glyphicon glyphicon-book icon_style"> 日  志</span>
                    </div>
                    <div id="log" class="panel-collapse collapse">
                        <span class="link_cont"><span class="glyphicon glyphicon-star-empty icon_style"> 日志查看</span></span>
                        <span class="link_cont"><span class="glyphicon glyphicon-star-empty icon_style"> 配  置</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_container">
            <div class="top_memu" id="header">
                <div id="left_console" onMouseOver="memu_icon_style('over')" onmouseout="memu_icon_style('out')" onclick="sidebar_scla()">
                    <div id="memu_icon" ></div>.
                </div>
            </div>
            <div  id="main">main</div>
        </div>
    </div>
</body>
</html>