{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
<!doctype html>
<HTML>
<HEAD>
    <link rel="stylesheet" href="{% static 'log/css/nginxLog.css' %}">
    <link rel="stylesheet" href="{% static 'log/css/public.css' %}">
    <script src="http://webapi.amap.com/maps?v=1.3&key=d1808236607dc77b1171b39494a3ae82"></script>
    <script src="{% static 'log/js/geohash.js' %}"></script>
    <script src="{% static 'log/js/nginxLog.js' %}"></script>
    <script src="{% static 'log/js/public.js' %}"></script>
</HEAD>
<BODY>
    <div class="page_container" id="nginxLog">
        <div class="page_title">nginx日志</div>
        <div class="page_hr"></div>
        <div class="NginxLogSearchBox">
            <div class="InputBox">
                主机名 <input type="text" id="HostName" class="textStyle marginright">
                ip <input type="text" id="ip" class="textStyle marginright">
                客户端ip <input type="text" id="AgentIp" class="textStyle marginright">
                请求状态 <select id="reqStatusSelect" class="selectStyle">
                            <option>=</option>
                            <option>>=</option>
                            <option><=</option>
                        </select>
                <input type="text" id="reqStatus" class="textStyle marginright">
                uri <input type="text" id="uri" class="textStyle marginright">
                请求时间<select id="reqTimeSelect" class="selectStyle">
                            <option>=</option>
                            <option>>=</option>
                            <option><=</option>
                        </select>
                      <input type="text" id="reqTime" class="textStyle">
            </div>
            <div class="SearchBoxHr"></div>
            <div class="ButtonBox">
                <div id="search" class="SearchButton ButtonStyle" onclick="searchNginxLog()"><span>搜索</span></div>
                <div class="ResetButton ButtonStyle" onclick="window.location.href='{% url 'nginxLogPage' %}'">重置</div>
            </div>
        </div>
        <div class="mapGraph">
            <div class="tabTitle">
                <div class="tabStyle"><a href="#map" data-toggle="tab">地图</a></div>
                <div class="tabStyle"><a href="#graph" data-toggle="tab">图表</a></div>
                <div class="DateDiv" id="nginxLogDate">
                    <span></span>
                </div>
            </div>
            <div class="aggsTitle">访问ip排行</div>
            <div class="aggsDiv">
                <table id="aggsTable" class="aggsTable">
                </table>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active mapGraphDiv" id="map">
                </div>
                <div class="tab-pane fade mapGraphDiv" id="graph">
                        <div class="CountNum" id="CountNum">总计 0条</div>
                        <div class="nginxLogGraph" id="nginxLogGraph"></div>
                </div>
            </div>
        </div>
        <div class="LogView">
        <table class="LogTable" id="LogTable">
            <tr>
                <td>时间</td>
                <td>主机名</td>
                <td>请求状态</td>
                <td>请求时间</td>
                <td>客户端ip</td>
                <td>城市名</td>
                <td>请求方式</td>
                <td>发送数据量</td>
                <td>uri</td>
                <td>详情</td>
            </tr>
        </table>
        </div>
        <div class="nginxFooter"></div>
    </div>
{% endblock %}
</BODY>
</HTML>