#container {
    position: absolute;
    top: 10px;
    left: 40px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 400px;
}
.makerL1{
    background-color: hsla(70, 100%, 50%, 0.7);
    height: 5px; width: 5px; border: 1px solid hsl(60, 100%, 40%);
    border-radius: 50px;
}
.makerL2{
    background-color:#FEB24C;
    height: 8px; width: 8px; border: 1px solid #bb7d10;
    border-radius: 50px;
}
.makerL3{
    background-color:#FDBD3C;
    height: 12px; width: 12px; border: 1px solid #b95b0e;
    border-radius: 50px;
}
.makerL4{
    background-color:#F03B20;
    height: 16px; width:16px; border: 1px solid #AA0E0D;
    border-radius: 50px;
}
.makerL5{
    background-color: #BD0026;
    height: 20px; width:20px; border: 1px solid #7D0C0D;
    border-radius: 50px;
}