/*图表div*/
.LogGraph{
    width: 98%;
    height: 230px;
    background-color: white;
    margin: 4px auto 0 auto;
    border: 2px solid;
    border-color: #dfe4e7;
}
/*搜索框div*/
.TomcatThriftSearchBox{
    width: 98%;
    height: 80px;
    background-color: white;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    border: 2px solid;
    border-color: #dfe4e7;
}
/*日志显示*/
.LogView{
     width: 98%;
     height: auto;
     background-color: white;
     margin: 5px auto 0 auto;
     border: 2px solid;
     border-color: #dfe4e7;
}
/*输入框*/
.InputBox{
    width: 90%;
    margin: 8px auto 0 auto;
}

.MarginRight{
    margin-right: 2.6%;
}
.TextStyle{
    width: 17%;
    height: 20px;
}
.SearchBoxHr{
    width: 95%;
    background-color: #e0e5e8;
    height: 1px;
    margin: 10px auto 0px auto;
}
.ButtonStyle{
    height: 19px;
    width: 45%;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 楷体;
    float: left;
}
.SearchButton{
    background-color: #367fa9;
}
.ResetButton{
    background-color: #dd4b39;
    margin-left: 10%;
}
.ButtonBox{
    width: 10%;
    height: 19px;
    margin: 7px auto 0 auto;
}
.DateFontStyle{
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.CountNum{
    height: 12px;
    float: left;
    text-indent: 2px;
    font-weight: bold;
}
.DateDiv{
    width: 22.7%;
    height: 12px;
    margin: 0 auto;
}
.mapGraph{
    width: 100%;
    height: 200px;
    margin: 8px auto;
    overflow:hidden;
}
.LogTable{
    width: 100%;
}
.LogTable tr td{
    text-align: center;
    border: 1px solid #dfe4e7;
    border-bottom: 2px solid #dfe4e7;
}
.LogTable tr:nth-child(1) td{
    font-weight: bold;
    line-height: 20px;
    height: 20px;
}
.LogTable .BriefMessage:not(:nth-child(1)) td{
    height: 50px;
    vertical-align: text-top;
    font-size: 12px;
}

.LogTable .BriefMessage td:nth-child(1){
    width: 10%;
}
.LogTable .BriefMessage td:nth-child(2){
    width: 10%;
    word-break: break-all;
}
.LogTable .BriefMessage td:nth-child(3){
    width: 6%;
}
.LogTable .BriefMessage td:nth-child(4){
    width: 10%;
    word-break: break-all;
}
.LogTable .BriefMessage td:nth-child(5){
    width: 5%;
}
.LogTable .BriefMessage td:nth-child(6){
    width: 30%;

}
.LogTable .BriefMessage td:nth-child(7){
    width: 4%;
    border-right: 0px;
}
.DetailedMessageHide td:first-child{
    width: 100%;
    word-break: break-all;
    text-align: left;
    font-size: 12px;
    display: none;
}
.DetailedMessageShow td:first-child{
    width: 100%;
    word-break: break-all;
    text-align: left;
    font-size: 12px;
}
.TomcatThriftLogGraph{
    width: 100%;
    height: 200px;
    margin: 8px auto;
    overflow:hidden;
}
.TomcatThriftLogFooter{
    width: 100%;
    height: 60px;
}
.MessageDiv{
    overflow: hidden;
    word-break: break-all;
    text-align: left;
    height: 50px;
}