div a{
    color: white;
    margin-left:4px;
    margin-right:4px;
}

.div_title span{
    float: right;
}
.div_container{
    height: 180px;
    width: 98%;
    margin: 10px auto 0 auto;
}
.div_title{
    background-color: #222d32;
    color: white;
    font-family: 楷体;
    line-height: 25px;
    -moz-box-shadow:0px 1px 3px #858585;
    -webkit-box-shadow:0px 1px 3px #858585;
    box-shadow:0px 1px 3px #858585;
    width: 100%;
}
.div_graphas_container{
    height: 155px;
    background-color: white;
    -moz-box-shadow:0px 1px 3px #858585;
    -webkit-box-shadow:0px 1px 3px #858585;
    box-shadow:0px 1px 3px #858585;
    width: 100%;
}
.div_graphas{
    width: 100%;
    height: 98.8%;
}
.disk_usage{
     width: 40%;
     height: 100%;
     float: left;
}
.disk_usage_graphs{
    width: 25%;
    height: 100%;
    color: white;
    margin: auto;
    float: left;
    display: none;
}
.disk_io_speed{
    height: 100%;
    margin-left: 0.5%;
    width: 59.5%;
    float: left;
}
.host_detailed_cpu{
    height: 100%;
    width: 49.8%;
    float: left;
}
.host_detailed_memory{
    height: 100%;
    width: 49.8%;
    float: right;
    margin-left: 0.4%;
}
.app_graphs_container{
    height: 300px;
    width: 98%;
    margin: 10px auto 0 auto;
}
.select_button{
    border: 0;
    border-radius: 0;
    background-color: #222d32;
}
.select_box{
    color: white;
    background-color: #222d32;
    border-radius: 0;
    min-width: 45px;
}
.select_box li a{
    color: white;
}
