.monitor_container{
    width: 100%;
    height: 100%;
    background-color: #ebeef0;
}
.monitor_search{
    height: 115px;
    width: 98%;
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    border-color: #dfe4e7;
}
.monitor_search_title{
    font-family: 楷体;
    font-size: 15px;
    text-indent: 5px;
    margin: 4px 5px 3px 0px;
}
.monitor_search_hr{
    width: 100%;
    background-color: #e0e5e8;
    height: 2px;
}
.monitor_search_form{
    width: 455.5px;
    height: 35px;
    margin: 12px auto 0px auto;
}
.monitor_search_text{
    height: 20px;
}
#host_name{
    margin: 0 40px 0 9.3px;
}
#ip_addr{
    margin: 0 0 0 9.3px;
}
.monitor_search_form_hr{
    width: 100%;
    background-color: #e0e5e8;
    height: 1px;
    margin: 15px auto 0px auto;
}
.monitor_botton_form{
    margin: 6px auto;
    height: 20px;
    width: 120px;
}
.monitor_query_botton{
    height: 19px;
    width: 50px;
    float: left;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    text-align: center;
}
#host_query{
    background-color: #367fa9;
    margin: 0 20px 0 0;
}
#host_reset{
    background-color: #dd4b39;
}
.table_border{
    background-color: white;
    width: 98%;
    margin: 15px auto;
    border-radius: 5px;
    border: 2px solid;
    border-color: #dfe4e7;
}
.host_table{
    width: 100%;
    border-radius: 5px;
}
.host_table td{
    border: 1px solid #dfe4e7;
    border-bottom: 2px solid #dfe4e7;
    text-align: center;
}
.host_table tr td:nth-child(1){
    width: 200px;
}
.host_table tr td:nth-child(2){
    width: 180px;
}
.host_table tr td:nth-child(6){
    width: 180px;
}
#graphs_select{
    width: 100%;
    border: 0;
}
.circles{
    width: 30px;
    height: 30px;
    background-color: #00b17f;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: 华文琥珀;
}
.host_status{
    height: 90px;
    width: 100%;
    background-color: #59db8f;
}
.host_graphs{
    height: 90px;
    width: 100%;
    background-color: deepskyblue;
}
.monitor_table_operate{
    width: 30px;
    height: 15px;
    background-color: #00b17f;
    margin: 0 auto;
}
