html, body {
    margin:0;
    height:100%;
    font-family: 微软雅黑, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
.left_memu{
    width: 200px;
    height: 100%;
    background-color: #222d32;
    transition: 0.5s 0s width ease;
    float: left;
}
.left_top{
    width: 100%;
    height: 44px;
    background-color: #1E282C;
}
.right_container{
    height: 100%;
    background: #fcc;
    overflow: hidden;
}
.top_memu{
    width: 100%;
    height: 45px;
    background-color: #222d32;
}
#left_console{
    height: 100%;
    width: 45px;
    position: relative;
    cursor: pointer;
}

#memu_icon{
    width: 50%;
    height: 50%;
    background-color: #35353d;
    position: absolute;
    left: 25%;
    top: 25%;
    padding: 11% 0;
    background-clip:content-box;
}
#main{
    background-color:white;
    height:100%;
    width:100%;
}
.page_title{
    font-size: 14px;
    font-family: 宋体;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 35px;
    text-indent: 5px;
}
.page_hr{
    width: 100%;
    background-color: #e0e5e8;
    height: 2px;
    line-height: 200px;
}
.page_container{
    width: 100%;
    height: 100%;
    background-color: #ebeef0;
    overflow:scroll;
}
.footer{
    width: 100%;
    height: 30px;
    background-color: #0f0f0f;
}
