{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/host_detailed.css' %}">
    <script src="{% static 'monitor/js/host_detailed.js' %}"></script>
    <div class="page_container">
         <div class="page_title">监控详情</div>
         <div class="page_hr"></div>
         <div class="disk_container">
             <div class="disk_usage">
                <div class="div_title">磁盘使用情况</div>
                <div class="div_graphas">
                    <div class="disk_usage_graphs" id="disk_g1"></div>
                    <div class="disk_usage_graphs" id="disk_g2"></div>
                    <div class="disk_usage_graphs" id="disk_g3"></div>
                    <div class="disk_usage_graphs" id="disk_g4"></div>
                </div>
             </div>
             <div class="disk_io_speed">
                    <div class="div_title"></div>
                    <div class="div_graphas" id="disk_io_speed_graphs"></div>
             </div>
         </div>
    </div>
{% endblock %}