{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/host_detailed.css' %}">
    <script src="{% static 'monitor/js/host_detailed.js' %}"></script>
    <div class="page_container">
         <div class="page_title">监控详情</div>
         <div class="page_hr"></div>
         <div class="div_container">
             <div class="disk_usage">
                <div class="div_title">磁盘使用情况</div>
                <div class="div_graphas_container">
                    <div class="disk_usage_graphs" id="disk_g1"></div>
                    <div class="disk_usage_graphs" id="disk_g2"></div>
                    <div class="disk_usage_graphs" id="disk_g3"></div>
                    <div class="disk_usage_graphs" id="disk_g4"></div>
                </div>
             </div>
             <div class="disk_io_speed">
                    <div class="div_title">磁盘读写速率<span><a href="#">1小时</a><a href="#">2小时</a><a href="#">1天</a><a href="#">1周</a><a href="#">1月</a><a href="#">1年</a><a href="#">自定义</a></span></div>
                    <div class="div_graphas_container">
                        <div class="div_graphas" id="disk_io_speed_graphs"></div>
                    </div>
             </div>
         </div>
          <div class="div_container">
                <div class="host_detailed_cpu">
                    <div class="div_title">cpu使用情况<span><a href="#">1小时</a><a href="#">2小时</a><a href="#">1天</a><a href="#">1周</a><a href="#">1月</a><a href="#">1年</a><a href="#">自定义</a></span></div>
                    <div class="div_graphas_container">
                        <div class="div_graphas" id="host_detailed_cpu"></div>
                    </div>
                </div>
                <div class="host_detailed_memory">
                    <div class="div_title">内存使用情况<span><a href="#">1小时</a><a href="#">2小时</a><a href="#">1天</a><a href="#">1周</a><a href="#">1月</a><a href="#">1年</a><a href="#">自定义</a></span></div>
                    <div class="div_graphas_container" >
                        <div class="div_graphas" id="host_detailed_memory"></div>
                    </div>
                </div>
          </div>
          <div class="div_container">
                <div class="host_detailed_cpu">
                    <div class="div_title">网卡出口流量<span><a href="#">1小时</a><a href="#">2小时</a><a href="#">1天</a><a href="#">1周</a><a href="#">1月</a><a href="#">1年</a><a href="#">自定义</a></span></div>
                    <div class="div_graphas_container">
                        <div class="div_graphas" id="nic_in"></div>
                    </div>
                </div>
                <div class="host_detailed_memory">
                    <div class="div_title">网卡入口流量<span><a href="#">1小时</a><a href="#">2小时</a><a href="#">1天</a><a href="#">1周</a><a href="#">1月</a><a href="#">1年</a><a href="#">自定义</a></span></div>
                    <div class="div_graphas_container">
                        <div class="div_graphas" id="nic_out"></div>
                    </div>
                </div>
          </div>
          <div class="app_graphs_container">
                    <div class="div_title">
                        <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="select_button dropdown-toggle">tomcat</button>
                            <ul class="dropdown-menu select_box" role="menu">
                                <li><a href="#">app3</a></li>
                                <li><a href="#">app2</a></li>
                                <li><a href="#">app1</a></li>
                            </ul>
                        </div>
                        <span>
                            <a href="#">1小时</a>
                            <a href="#">2小时</a>
                            <a href="#">1天</a>
                            <a href="#">1周</a>
                            <a href="#">1月</a>
                            <a href="#">1年</a>
                            <a href="#">自定义</a>
                        </span>
                    </div>
                    <div class="app_div_graphas_container">
                    </div>
          </div>
    </div>
{% endblock %}