{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/index.css' %}">
    <script src="{% static 'monitor/js/monitor.js' %}"></script>
{# 页面容器 #}
    <div class="page_container" data-host="{{ data }}" id="data_storage" data-key="{{ zabbix_conf }}">
{# 页面标题 #}
    <div class="page_title">主机一览</div>
    <div class="page_hr"></div>
    <div class="monitor_search">
{# 搜索框标题 #}
        <div class="monitor_search_title">主机查询</div>
        <div class="monitor_search_hr"></div>
 {# 搜索框控件 #}
        <form id="monitor_search_form">
            主机名<input type="text" class="monitor_search_text" id="host_name">IP地址<input id="ip_addr" type="text" class="monitor_search_text">
            <div class="monitor_search_form_hr"></div>
            {% csrf_token %}
        </form>
        <div class="monitor_botton_form">
            <div class="monitor_query_botton" id="host_query" onclick="monitor_search_form_submit()">查询</div><div onclick="window.location.href='{% url 'MonitorIndex' %}'" id="host_reset" class="monitor_query_botton" >重置</div>
        </div>
    </div>
{# 主机信息表 #}
    <div class="table_border" >
        <table class="host_table" id="host_table">
            <tr>
                <td id="host_test_name">主机名/状态</td>
                <td>
                    <select id="graphs_select" onchange="cpu_memory_change(this.options[this.options.selectedIndex].value)">
                        <option value="cpu" selected="selected">cpu</option>
                        <option value="memory">内存</option>
                    </select>
                </td>
                <td>IP地址</td>
                <td>appliction</td>
                <td>item</td>
                <td>应用模板</td>
                <td>操作</td>
            </tr>
            {% for item in data %}
                <tr>
                    {% if item.status == '1' %}
                        <td><div class="host_status_disable">{{ item.host }}</div></td>
                    {% elif item.triggers %}
                        <td><div class="host_status_waring" onmouseover="warning_info_div('create','{{ item.host }}')" onmouseout="warning_info_div('remove')">{{ item.host }}</div></td>
                    {% else %}
                        <td><div class="host_status_enable" >{{ item.host }}</div></td>
                    {% endif %}
                    <td><div class='host_graphs' id='hostid_{{ item.hostid }}'></div></td>
                    <td>{{ item.interfaces.0.ip }}</td>
                    <td><div class='circles'>23</div></td>
                    <td><div class='circles'>24</div></td></td>
                    <td>z1,z2,z3,z4</td>
                    <td>
                        {% if item.status == '1' %}
                            <div class='monitor_table_operate'>开启监控</div>
                        {% else %}
                            <div class='monitor_table_operate close_monitor'>关闭监控</div>
                        {% endif %}
                        <div class='monitor_table_operate monitor_info' onclick="window.location.href='{% url 'MonitorHostDetailed' %}?host={{ item.host }}&hostid={{ item.hostid }}'">监控详情</div>
                        <div class='monitor_table_operate log_view'>日志查看</div>
                        <div class='monitor_table_operate app_deploy'>应用部署</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
       <script>
         $(document).ready(function () {
                cpu_data_req('','')
         })
        </script>
{% endblock %}