<div class="monitor_container">
    <div class="page_title">主机一览</div>
    <div class="page_hr"></div>
    <div class="monitor_search">
        <div class="monitor_search_title">主机查询</div>
        <div class="monitor_search_hr"></div>
        <div class="monitor_search_form">
            主机名<input type="text" id="host_name" class="monitor_search_text">IP地址<input type="text" id="ip_addr" class="monitor_search_text">
            <div class="monitor_search_form_hr"></div>
        </div>
        <div class="monitor_botton_form">
            <div class="monitor_query_botton" id="host_query">dsa</div><div id="host_reset" class="monitor_query_botton">dsa</div>
        </div>
    </div>
</div>