{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/index.css' %}">
    <script src="{% static 'monitor/js/monitor.js' %}"></script>
{# 页面容器 #}
    <div class="page_container" data-host="{{ data }}" id="data_storage" data-key="{{ zabbix_conf }}">
{# 页面标题 #}
    <div class="page_title">最新监控数据</div>
    <div class="page_hr"></div>
    <div class="monitor_search">
{# 搜索框标题 #}
        <div class="monitor_search_title">查询</div>
        <div class="monitor_search_hr"></div>
 {# 搜索框控件 #}
        <form id="monitor_search_form">
            主机名<input type="text" class="monitor_search_text" id="host_name">IP地址<input id="ip_addr" type="text" class="monitor_search_text">
            <div class="monitor_search_form_hr"></div>
            {% csrf_token %}
        </form>
        <div class="monitor_botton_form">
            <div class="monitor_query_botton" id="host_query" onclick="monitor_search_form_submit()">查询</div><div onclick="window.location.href='{% url 'LastData' %}'" id="host_reset" class="monitor_query_botton" >重置</div>
        </div>
    </div>
{# 主机信息表 #}
    <div class="table_border" >
        <table class="host_table" id="host_table">
        </table>
    </div>
    </div>
{% endblock %}