{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'monitor/css/Latest_Data.css' %}">
    <script src="{% static 'monitor/js/Latest_Data.js' %}"></script>
{# 页面容器 #}
    <div class="page_container">
{# 页面标题 #}
        <div class="page_title">最新监控数据</div>
        <div class="page_hr"></div>
        <div class="monitor_search">
{# 搜索框标题 #}
            <div class="monitor_search_title">查询</div>
            <div class="monitor_search_hr"></div>
 {# 搜索框控件 #}
            <form id="LastestDataSearch" class="search_form">
                主机名<input type="text" class="monitor_search_text LatestText1" id="HostName"> 监控字段名<input id="ItemName" type="text" class="monitor_search_text InputT2">
                {% csrf_token %}
            </form>
            <div class="monitor_search_form_hr"></div>
            <div class="monitor_botton_form">
                <div class="monitor_query_botton QueryButton" id="LatestDataSearchButton" onclick="LastestDataFromSubmit()">查询</div><div onclick="window.location.href='{% url 'LatestData' %}'" class="monitor_query_botton ResetButton" id="HostReset">重置</div>
            </div>
        </div>
{# 最新数据显示面板 #}
        <div class="table_border">
            <table class="head_table">
                <tr>
                    <th>主机名</th>
                    <th>application/item</th>
                    <th>最新监控数据</th>
                    <th>最后检测时间</th>
                    <th>图表</th>
                </tr>
            </table>
            {% for key,value in data.items %}
            <div class="host_container" data-toggle="collapse" data-target="#{{ key }}">
                <div class="host_name_mask"></div><div>{{ key }}</div>
            </div>

            <div id="{{ key }}" class="collapse in" >
                {% for key2,value2 in value.application.items %}
                <div data-toggle="collapse" data-target="#{{ key }}_{{ value2.0.itemid }}" class="application_container">
                     <div class="host_name_mask"></div><div>{{ key2 }}({{ value2|length }})</div>
                </div>
                <div class="collapse out" id="{{ key }}_{{ value2.0.itemid }}">
                <table class="item_table">
                    {% for value3 in value2 %}
                    <tr>
                        <td></td>
                        <td>{{ value3.name }}</td>
                        <td>{{ value3.lastvalue }}</td>
                        <td>{{ value3.lastclock }}</td>
                        <td><a href="{% url 'MonitorHistory' %}?itemid={{ value3.itemid }}&unit={{ value3.units }}&ValueType={{ value3.value_type }}&hostid={{ value.hostid }}">详细</a></td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
              {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="host_detailed_footer"></div>
    </div>
{% endblock %}