{% extends 'home/index.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'monitor/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'monitor/css/Latest_Data.css' %}">
{# 页面容器 #}
    <div class="page_container" data-host="{{ data }}" id="data_storage" data-key="{{ zabbix_conf }}">
{# 页面标题 #}
        <div class="page_title">最新监控数据</div>
        <div class="page_hr"></div>
        <div class="monitor_search">
{# 搜索框标题 #}
            <div class="monitor_search_title">查询</div>
            <div class="monitor_search_hr"></div>
 {# 搜索框控件 #}
            <form id="monitor_search_form">
                主机名<input type="text" class="monitor_search_text" id="host_name">字段名<input id="ip_addr" type="text" class="monitor_search_text">
                <div class="monitor_search_form_hr"></div>
                {% csrf_token %}
            </form>
            <div class="monitor_botton_form">
                <div class="monitor_query_botton" id="host_query">查询</div><div onclick="window.location.href='{% url 'LatestData' %}'" id="host_reset" class="monitor_query_botton" >重置</div>
            </div>
        </div>
{# 最新数据显示面板 #}
        <div class="table_border">
            <table class="head_table">
                <tr>
                    <th>主机名</th>
                    <th>application/item</th>
                    <th>最新监控数据</th>
                    <th>最后检测时间</th>
                    <th>图表</th>
                </tr>
            </table>
            {% for key,value in data.items %}
            <div class="host_container" data-toggle="collapse" data-target="#{{ key }}">
                <div class="host_name_mask"></div><div>{{ key }}</div>
            </div>

            <div id="{{ key }}" class="collapse in" >
                {% for key2,value2 in value.application.items %}
                <div data-toggle="collapse" data-target="#{{ key }}_{{ value2.0.itemid }}" class="application_container">
                     <div class="host_name_mask"></div><div>{{ key2 }}({{ value2|length }})</div>
                </div>
                <div class="collapse out" id="{{ key }}_{{ value2.0.itemid }}">
                <table class="item_table">
                    {% for value3 in value2 %}
                    <tr>
                        <td></td>
                        <td>{{ value3.name }}</td>
                        <td>{{ value3.lastvalue }}</td>
                        <td>{{ value3.lastclock }}</td>
                        <td>graph</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
              {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}