.fromStyle{
    width: 50%;
}
.textStyle{
    width: 20.2%;
}
.searchBoxHr{
    width: 51%;
}
.viewTable tr th:nth-child(1),td:nth-child(1){
    width: 6%;
}
.viewTable tr th:nth-child(2),td:nth-child(2){
    width: 20%;
}
.viewTable tr th:nth-child(3),td:nth-child(3){
    width: 32%;
}
.viewTable tr th:nth-child(4),td:nth-child(4){
    width: 32%;
}
.viewTable tr th:nth-child(5),td:nth-child(5){
    width: 10%;
    border-right: 0px;
}
.hostModfiyButton{
    width: 40%;
}
.updateButton{
    margin-left: 6.5%;
}
.delButton{
    margin-left: 6.5%;
}
.webTable{
    width: 100%;
    border: none;
    text-align: center;

}
.webTable tr td{
    border: 1px solid #DFE4E7;

}
.webTable tr td:nth-child(1){
    width: 80%;

}
.webTable tr td:nth-child(2){
    width: 20%;

}
.webaddButton{
    display: inline-block;
    float: right;
    width: 15%;
    border-radius: 5px;
    background-color: #2a6496;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 3px;
}
.webText{
    height: 20px;
    width: 40%;
    float: right;
    font-weight: 100;
}
#manageWebTemplate{
    z-index: 1;
}
#appGroup{
    z-index: 1;
}