.appContainer{
    width: 250px;
    height: 200px;
    border-radius:4px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
}
.appTitleContainer{
    width: 100%;
    height: 10%;
    font-weight: bold;
    color: white;
    text-indent: 4px;
}
.appContainerBody{
    height: 75%;
    width: 100%;
}
.appContainerHr{
    width: 100%;
    height: 2px;
    background-color: white;
}
.webAppName{
    margin: 3px;
    display: inline-block;
    color: white;
    border: 3px solid white;
    border-radius: 40px;
    letter-spacing: 2px;
    text-indent: 2px;
    font-weight: bold;
    font-size: 10px;
}
.appInfo{
    color: white;
    word-wrap:break-word;
    font-weight: bold;
    text-indent: 2px;
    display: inline-block;
}
.appContainerFooter{
    height: 15%;
    width: 100%;
    text-align: center;
    margin: 4px auto;
}
.appButton{
    display: inline-block;
    width: 20%;
    border-radius: 4px;
}
.iconStyle{
    float: right;
    letter-spacing:3px;
    cursor: pointer;
}
