.viewTable tr th:nth-child(1),td:nth-child(1){
    width: 10%;
}
.viewTable tr th:nth-child(2),td:nth-child(2){
    width: 18%;
}
.viewTable tr th:nth-child(3),td:nth-child(3){
    width: 10%;
}
.viewTable tr th:nth-child(4),td:nth-child(4){
    width: 10%;
}
.viewTable tr th:nth-child(5),td:nth-child(5){
    width: 10%;
}
.viewTable tr th:nth-child(6),td:nth-child(6){
    width: 12%;
    border-right: 0px;
}
.normalText{
    color: #5cb85c;
}
.errorText{
    color: #FD0202;
}
.normalStatus{
    background-color: #5cb85c;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 6px;
    display: inline-block;
}
.errorStatus{
    background-color: #FD0202;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 6px;
    display: inline-block;
}
.error_txt{
    text-align: center;
    color: red;
    font-size: 12px;
}
.success_txt{
    text-align: center;
    color: #59db8f;
    font-size: 12px;
    float: right;
    font-family: none;
    margin: 0 4px 0 0;
}
.hostModfiyButton{
    float: left;
    border-radius: 2px;
    width: 20%;
    cursor:pointer;
}
.updateButton{
    background-color: #367fa9;
    margin-left: 10%;
}
.delButton{
    background-color: #d64d55;
    margin-left: 10%;
}
.bindButton{
    background-color: #47a4e9;
    margin-left: 10%;
}
.delBindButton{
    background-color: #a179c2;
    margin-left: 10%;
}
.showInfo{
    font-weight: bold;
    width:100%;
    text-align:center;
    display: inline-block;
}
.customPagination{
    margin: 0 0 0 0;
    float: right;
}
.depLoyFooter{
    width: 100%;
    height: 50px;
}
