.tableTitle{
    display: inline-block;
    height: 30px;
}
.tabHeader{
    width: 100%;
    height: 30px;
}
.tableTitle a{
    text-decoration:none;
    out-line: none;
    color: #000000;
    line-height: 30px;
}
.tabHeader .active{
    background-color: white;
}
.tab_content{
    background-color: white;
    width: 100%;
}
.searchBox{
    margin: 0 auto;
    text-align: center;
}
.inputBox{
    display: inline-block;
}
.inputStyle{
    width: 13%;
}
.selectStyle{
    width: 12%;
}
.viewTable tr th:nth-child(1),td:nth-child(1){
    width:4%;
}
.viewTable tr th:nth-child(3),td:nth-child(3){
    width: 7%;
}
.viewTable tr th:nth-child(4),td:nth-child(4){
    width: 6%;
}
.viewTable tr th:nth-child(6),td:nth-child(6){
    width: 6%;
}
.viewTable tr th:nth-child(7),td:nth-child(7){
    width: 6%;
}
.viewTable tr th:nth-child(8),td:nth-child(8){
    width: 13%;
}
.viewTable tr th:nth-child(9),td:nth-child(9){
    width: 5%;
}
.viewTable tr td:nth-child(10){
    width: 5%;
}
.viewTable tr th:nth-child(11),td:nth-child(11){
    border-right: 0px;
    width: 21%;
}

.fileUploadButton{
    background-color: #22a2ab;
    width: 30%;
    margin-left: 10%;
}
.progressMesg{
    position: absolute;

}
