{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/jquery-min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/login.css'%}">
    <script src="{% static 'user/js/sha512.js' %}"></script>
    <script src="{% static 'user/js/login.js' %}"></script>
    <title>登录</title>
</head>
<body>
    <div class='login_form'>
        <form action="{% url 'login_post' %}" method="post" id="login_post">
        {% csrf_token %}
        <div  class="login_title">登录运维平台</div>
        <div  class="text user_txt">用户名</div>
        <input type="text" name="user" id="user" class="text_input">
        <label id="log_error">{{ error }}</label>
        <div  class="text pwd_txt">密码</div>
        <input type="password" name="pwd" id="pwd" class="text_input">
        <div class="rember_login">
            <input type="checkbox" name="rember" id="check_rember" class="align"><span class="align">记住登录</span>
        </div>
        <input  type="botton" id="login_submit" value="登录" onclick="enc_pwd()">
        </form>
    </div>
</body>
</html>